@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");

* {
  font-family: "Dancing Script", cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: blue;
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(./image/wave.png);
}

.sec {
  padding: 100px;
}

.sec h2 {
  font-size: 3rem;
}

.sec p {
  font-size: 2rem;
}
