@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");

* {
  font-family: "Dancing Script", cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: blue;
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(./image/wave.png);
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  background-position-x: 400px;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  background-position-x: 300px;
}

.wave#wave3 {
  z-index: 888;
  opacity: 0.2;
  background-position-x: 200px;
}

.wave#wave4 {
  z-index: 888;
  opacity: 0.7;
  background-position-x: 100px;
}

.sec {
  padding: 100px;
}

.sec h2 {
  font-size: 3rem;
}

.sec p {
  font-size: 2rem;
}
